html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
}



    

.cover {
    height: 100%;
    border: 0px;
    background-image: url("https://t4.ftcdn.net/jpg/02/19/94/97/240_F_219949741_fYwRBdwSW2ZRn9PLZ6DvDjn1jwRIx8YS.jpg");
    background-size:auto;
    background-position: center;
}

.cover__caption{
    display:table;
    height: 400px;
    width: 100%;
}

.cover__caption__copy{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:white;
}