@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model PizzaCategoryView

<div class="container">
    <form asp-controller="Pizze" asp-action="Update" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label>Id:</label>
            <input asp-for="Pizza.Id" type="text" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label>Nome:</label>
            <input asp-for="Pizza.Name" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Descrizione:</label>
            <textarea asp-for="Pizza.Description" rows="10" class="d-block w-100"></textarea>
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Prezzo:</label>
            <input asp-for="Pizza.Price" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Top:</label>
            <input asp-for="Pizza.Favorites" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Favorites" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <label>Path Immagine:</label>
            <input asp-for="Pizza.Image" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Categoria:</label>
            <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Category category in Model.Categories)
                {
                            <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Ingredienti:</label>
            <select asp-for="IngredientiSelectedFromMultipleSelect" asp-items="@Model.Ingredienti" multiple size="10" class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Salva Modifiche alla pizza</button>
    </form>
</div>